.Hero {
  background-image: url("../assets/images/bookclub-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% -75px;
  width: 850px;
  height: 100%;
  float: right;
}

.Hero-container {
    background-color: white;
    height: 100vh;
}

.Hero-container-night {
    background-color: #1C0063;
}

.Hero-text {
    z-index: 2;
}

.Hero-text {
    color: #2BBD66;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 35px;
    line-height: 42px;
    text-align: left;
    position: absolute;
    right: 410px;
    top: 400px;
    width: 750px;
    padding: 0px;
}

.Hero-text-mobile {
    display: none;
    color: #2BBD66;
    font-family: 'Montserrat';
    font-weight: 800;
    text-align: left;
    position: absolute;
    top: 400px;
    padding: 0px;
    font-size: 25px;
    line-height: 30px;
    width: 100%;;
    left: 0;
}

.Hero-text-line {
    background-color: white;
    padding: 5px 20px 5px 20px;
    display: inline-block;
}

.Hero-text-line-night {
    background-color: #1C0063;
}

.Hero-austen {
    color: #1C0063;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: left;
    position: absolute;
    right: 870px;
    bottom: 20px;
    z-index: 2;
}

.Hero-austen-night {
    color: white;
}

@media (max-width: 850px) {
    .Hero {
        background-position: center;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .Hero-text {
        left: 0;
    }

    .Hero-austen {
        left: 20px;
        right: 0;
    }
}

@media (max-width: 770px) {
    .Hero-text {
        font-size: 25px;
        line-height: 30px;
        width: 560px;
    }
}

@media (max-width: 590px) {
    .Hero-text {
        display: none;
    }

    .Hero-text-mobile {
        display: inline-block;
        top: 375px;
    }
}

@media (max-width: 420px) {
    .Hero-text-mobile {
        font-size: 17px;
        line-height: 21px;
        top: 400px;
    }
}