.Menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: left;
    position: fixed;    
    width: 675px;
    top: 0;
    left: 0;
    background-color: #1C0063;
    transform: translateX(-150%);
    transition: transform 0.6s;
    z-index: 10;
    box-shadow: 0 0 15px 10px #141414;
}

.Menu-out {
    transform: translateX(-150%);
}

.Menu-in {
    transform: translateX(0);
}

.Menu-logo {
    position: absolute;
    left: 200px;
    top: 15px;
}

.Menu-li {
    list-style: none;
    padding: 10px;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 31px;
    line-height: 38px;
    text-align: left;
}

.Menu a {
    text-decoration: none;
    color: white;
}

.Menu-x {
    margin: 15px;
    cursor: pointer;
}

.Menu-ul {
    position: absolute;
    padding: 30px;
    left: 175px;
    top: 150px;
}

@media (max-width: 550px) {
    .Menu {
        width: 100%;
    }

    .Menu-logo {
        left: 75px;
    }

    .Menu-ul {
        left: 0;
    }
}