.AdminMeetings {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: lightsteelblue;
    min-height: calc(100vh - 140px);
    padding: 40px 20px 5px 20px;
    position: relative;
}  

.AdminMeetings-book {
    display: inline-block;
    text-align: center;
    margin: 35px 25px 0px 5px;
}

.AdminMeetings-slider-img {
    cursor: pointer;
}


.AdminMeetings-read ul{
   background-color: transparent;
}

.AdminMeetings-read li {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(70, 65, 65);
    font-size: 20px;
    list-style: none;
}

.AdminMeetings-edit-btn {
    background-color: green;
    color: white;
    width: 75px;
    margin-right: 20px;
}

.AdminMeetings-delete-btn {
    background-color: red;
    color: white;
    width: 75px;
}

.AdminMeetings-head {
    position: absolute;
    top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
