.App-show {
     visibility: visible;
}

.App-hidden {
    visibility: hidden;
}

.navbar {
    position: fixed;
    top: 0px;
    height: 50px;
    width: 100%;
    z-index: 4;
    padding: 10px;
    background-color: transparent;
    transition: background-color .3s;
}

.navbar-bg {
    background-color: rgb(253, 249, 249);
    opacity: .9;
}

.navbar-bg-night {
    background-color: #1C0063;
    opacity: .9;
}

.navbar-logo, .navbar-logo-night {
    position: absolute;
    left: 200px;
    top: 15px;
}

.navbar-right {
    position: absolute;
    right: 40px;
    display: flex;
    top: 10px;
}

.navbar-day, .navbar-login, .navbar-night {
    color: #1C0063;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-right: 40px;
    margin-left: 5px;
    display: inline-block;
    width: 41px;
    position: absolute;
}

.navbar-day, .navbar-login {
    color: #1C0063;
}

.navbar-night {
    color: white;
}

.navbar-user-icon, .navbar-sunrise-icon, .navbar-moon {
    width: 25px;
    margin-left: 50px;
}

.navbar-sunrise {
    cursor: pointer;
    margin-right: 45px;
    position: relative;
    margin-top: 5px;
}

.navbar-user {
    cursor: pointer;
    margin-right: 50px;
    margin-top: 5px;
}

.navbar-moon {
    margin-top: 3px;
}

@media (max-width: 650px) {
    .navbar-logo, .navbar-logo-night {
        left: 75px;
    }
}

@media (max-width: 520px) {
    .navbar-day, .navbar-login, .navbar-night {
        display: none;
    }

    .navbar-user-icon, .navbar-sunrise-icon, .navbar-moon {
        width: 25px;
        margin-left: 5px;
    }

    .navbar-sunrise {
        margin-right: 15px;
    }

    .navbar-user {
        margin-right: 5px;
    }

    .navbar-right {
        right: 0px;
    }
}

@media (max-width: 353px) {
    .navbar-logo, .navbar-logo-night {
        width: 140px;
    }
}
