.App {
    margin: 0px;
}
.navbar {
    display: flex;
    position: fixed;
    top: 0px;
    background-color: gray;
    width: 100%;
    height: 100px;
    z-index: 1;
}

.links {
    width: 20%;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 10px;
}

.headline {
    width: 60%;
    text-align: center;
    padding: 5px;
    margin: 0px;
}

.headline h1 {
    margin-top: 10px;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}

.login {
    width: 20%;
    text-align: right;
    margin-right: 20px;
    margin-top: 40px;
}

.login a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

@media (max-width: 615px) {
    .headline h1 {
        font-size: 30px;
        margin-top: 25px;
    }

    .login a {
        font-size: 15px;
    }
}