.Book-wrapper {
    opacity: 1;
    transition: opacity .4s;
}
 
 .Book-wrapper-show {
     opacity: 1;
 }

 .Book-wrapper-hidden {
    opacity: 0.4;
 }

.Book {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 658px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.Book-night {
    background-color: #1C0063;
}

.Book-back {
    position: absolute;
    top: 50px;
    left: 100px;
    display: flex;
    cursor: pointer;
}

.Book-back a {
    text-decoration: none;
}

.Book-back-text {
    color: #1C0063;
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    margin-top: 3px;
    margin-left: 10px;
}

.Book-arrow, .Book-arrow-night {
    transform: rotate(180deg);
    width: 15px;
    display: inline-block;
    margin-right: 10px;
}

.Book-img-cont {
    width: 40%;
    text-align: right;
    height: 100%;
    padding-right: 65px;
}

.Book-img {
    height: 550px;
    margin-top: 90px;
}

.Book-details {
    width: 50%;
    text-align: left;
    padding-top: 30px;
}

.Book-title {
    color: #1C0063;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 29px;
    line-height: 36px;
    padding-right: 100px;
}

.Book-subtitle {
    color: #1C0063;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;
    padding-right: 100px;
}

.Book-publish {
    color: #2BBD66;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;
    padding-right: 100px;
}

.Book-synopsis {
    color: #1C0063;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 30px;
    padding-right: 100px;
}

.Book-button {
    background-color: #2BBD66;
    width: 206px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.Book-button p {
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
}

.Book-title-night {
    color: white;
}

@media (max-width: 1200px) {
    .Book-title, .Book-synopsis, .Book-subtitle, .Book-publish {
        padding-right: 20px;
    }
}

@media (max-width: 825px) {
    .Book-img-cont, .Book-details {
        width: 100%;
        padding: 30px;
    }

    .Book-img-cont {
        text-align: center;
    }

    .Book {
        height: 100%;
    }
}

@media (max-width: 400px) {
    .Book-img {
        height: 400px;
    }

    .Book-img-cont {
        height: 500px;
        padding: 0px;
    }
}