.Hero-container {
    /* margin-top: 100px; */
    height: calc(100vh - 100px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}