.Intro {
    text-align: center;
    padding: 30px;
    height: calc(100vh - 100px);
}

.Intro > h2 {
    font-family: 'Dancing script', cursive;
    font-size: 40px;
    margin-top: 90px;
}

.Intro p {
    font-family: Arial;
    font-size: 20px;
    line-height: 3rem;
}

@media (max-width: 600px) {
    .Intro p {
        line-height: 2rem;
    }
    .Intro h2 {
        margin-top: 60px;
    }
}