.Intro {
    padding: 80px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 80px;
}

.Intro-night {
    background-color: #1C0063;
}

.Intro-text {
    color: #1C0063;
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 40px;
    font-weight: 600;
    width: 50%;
    text-align: left;
    margin: 30px 0px 50px 30px;
}

.Intro-text-night {
    color: white;
}

.Intro-img {
    background: url("./assets/images/bookclub-home.jpg");
    height: 532px;;
    width: 561px;
    background-size: cover;
    background-position: center;
    display: flex;
}

@media (max-width: 1250px) {
    .Intro-img {
        width: 453px;
        height: 429px;
    }

    .Intro-text {
        font-size: 20px;
        line-height: 33px;
    }

    .Intro {
        padding: 40px;
    }
}

@media (max-width: 1090px) {
    .Intro-img {
        width: 405px;
        height: 385px;
    }

    .Intro-text {
        font-size: 17px;
        line-height: 28px;
    }

    .Intro {
        padding: 30px;
    }
}

@media (max-width: 874px) {
    .Intro-text {
        width: 75%;
    }

    .Intro {
        height: 100%;
    }
}

@media (max-width: 600px) {
    .Intro {
        padding: 10px;
    }

    .Intro-text {
        width: 100%;
        margin-bottom: 75px;
    }
}