.NewMeeting-container {
    display: flex;

}

.NewMeeting-input-container {
    width: 50%;
    padding: 10px;
}

.NewMeeting-editor-container {
    width: 50%;
    padding: 70px 10px 10px 10px;
}

.NewMeeting-form {
    width: 100%;
    padding: 20px;
    display: flex;
}

.NewMeeting-input {
    width: 100%;
    height: 30px;
    box-shadow: 2px 2px 5px black;
    border-width: 1px;
    margin-bottom: 20px;
}

.NewMeeting-label {
    font-family: Arial, Helvetica, sans-serif;

}

.NewMeeting-head {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.editorClassName {
    min-height: 150px;
    background-color: rgb(235, 225, 225);
    font-family: Arial, Helvetica, sans-serif;
}

.NewMeeting-btn {
    margin-top: 20px;
    bottom: 10px;
}

.toolbarClassName {
    background-color: rgb(143, 137, 137);
}