.Schedule {
    padding: 90px 90px 50px 90px;
}

.Schedule-now {
    color: #1C0063;
    font-family: 'Montserrat';
    font-size: 27px;
    line-height: 33px;
    font-weight: 800;
    text-align: left;
    margin-bottom: 85px;
}

.Schedule-next {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    color: #2BBD66;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
}

.Schedule-night {
    background-color: #1C0063;
}

.Schedule-link {
    text-decoration: none;
    color: #2BBD66;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    text-align: left;
    float: left;
    position: relative;
    top: 0;
    transition: top .4s;
}

.Schedule-link-selected {
    top: 25px;
}

.Schedule-link-cont {
    width: 300px;
}

.Schedule-text {
    font-size: 24px;
    line-height: 40px;
    font-weight: 600;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    margin-left: 60px;
    min-height: 175px;
    transition: min-height .4s, background-color .4s;
    cursor: pointer;
    width: 100%;
    position: relative;
}

.Schedule-text-selected {
    min-height: 275px;
    background-color: rgb(243, 239, 239);
   
}

.Schedule-selected-night {
     background-color: rgb(43, 27, 134);
}
.Schedule-date {
    color: #1C0063;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
    text-align: left;
    margin-top: 20px;
    margin-right: 10px;
    width: 300px;
    height: 100px;
}

.Schedule-date small {
    font-size: 20px;
}

.Schedule-description {
    color: #1C0063;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    margin-bottom: 35px;
    width: 60%;
    padding-left: 10px;
}

.Schedule-editor {
    width: 100%;
}

.Schedule-text-night {
    color: white;
}

@media (max-width: 1200px) {
    .Schedule-description {
        width: 100%;
    }
    .Schedule-text {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 900px) {
    .Schedule {
        padding: 90px 40px 50px 40px;
    }
}

@media (max-width: 600px) {
    .Schedule {
        padding: 90px 10px 50px 10px;
    }
}

@media (max-width: 340px) {

    .Schedule-description {
        width: 290px;
    }
}

