.Schedule {
    padding: 90px 90px 50px 90px;
}

.Schedule-now {
    color: #1C0063;
    font-family: 'Montserrat';
    font-size: 27px;
    line-height: 33px;
    font-weight: 800;
    text-align: left;
}

.Schedule-next {
    margin-top: 85px;
    margin-left: 75px;
    background-color: yellow;
    width: 200px;
}

.Schedule-night {
    background-color: #1C0063;
}

.Schedule-text {
    font-size: 24px;
    line-height: 40px;
    font-weight: 600;
    width: 85%;
    display: flex;
    margin-left: 75px;
    background-color: pink;
}

.Schedule-next {
    color: #2BBD66;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    margin-bottom: 10px;
}

.Schedule-date {
    color: #1C0063;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
    text-align: left;
    margin-top: 20px;
    width: 375px;
}

.Schedule-date-night {
    color: white;
}

.Schedule-date small {
    font-size: 20px;
}

.Schedule-description {
    color: #1C0063;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-align: right;
    margin-bottom: 35px;
    width: 100%;
    background-color: lightsalmon;
}

.Schedule-description-night {
    color: white;
}

.Schedule-editor {
    width: 100%;
    background-color: olivedrab;
}

