.label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: relative;
    top: 5px;
}

.input {
    margin: 10px;
    height: 20px;
    width: 150px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px black;
    border-width: 1px;
}

.button {
    width: 100px;
    box-shadow: 2px 2px 5px black;
}

form {
    width: 200px;
}

.form-container {
    display: flex;
    justify-content: center;
}

